<!DOCTYPE HTML>
<HTML lang="en">

    <head>
        <title>CodeFest</title>
        <meta charset="utf-8">
        <meta name="author" content="Xiao He">
        <meta name="description" content="A site map to all my groovy assignments for the best course at UVM. I wonder if anyone will read this?">
        <style type="text/css">
            figure.img-left {
                border: thin solid darkslategray;
                float: right;
                margin-right: 1em;
                padding: 0.5em;
            }
            .small {
                width: 150px;
            }
            figcaption {
                color: #839e99;
                font-style: italic;
                text-align: center;
            }
        </style>
    </head>

    <body>
    <h1>Xiao He</h1>
    
     <li><a href="https://github.com/edmudo/LostAndFound">GitLab Entrance</a></li>
     
     
       <p>CodeFest </p>
     <ol>
         <li><a href=templates/homepage.php>Homepage</a></li>
         <li><a href=templates/lost.php>LostPage</a></li>
         <li><a href=templates/found.php>FoundPage</a></li>
<!--          <li><a href=templates/final/images/gitlab.png>Gitlab</a></li>
         <li><a href=dev/final/css/custom.css>custom.css</a></li>
          <li><a href=https://youtu.be/6Zw9BBpGWio>Presentation Video</a></li> -->
<!--          <li>Web Usability Test
           <ol> 
               <li><a href="dev/final/test-script.pdf">test script(PDF)</a></li>
                  <li><a href="https://youtu.be/Q8NQLoe5LDM">first test video</a></li>
                    <li><a href="https://www.youtube.com/watch?v=Q8NQLoe5LDM&t=1s">first test video-2</a></li>
                    <li><a href="dev/final/test-1.pdf">document(PDF)</a></li>
                  <li><a href="https://youtu.be/fFuIDchT5wo">second test video</a></li>
                  <li><a href="dev/final/test-2.pdf">document-2(PDF)</a></li>
             </oL>
         
         </li> -->
            
     </OL>
    
    
</body>
</html>